 {{ define "home/fileinfo.tmpl" }}
 	{{ template "globals/header.tmpl" .}}
	  <h1>{{ .title }}</h1>
	  <div>
		<form action="/upload" method="post" enctype="multipart/form-data">
			OVA File: <input type="file" class='rounded-box' name="file"> 
			<input type="submit" class='rounded-box' value="Upload">
		</form>
	  </div>
	{{ template "globals/footer.tmpl" .}}
{{ end }}