 {{ define "home/fileinfo.tmpl" }}
 	{{ template "globals/header.tmpl" .}}
	  <h1>{{ .title }}</h1>
	  <div>
		<label class="container">Upload local file 
			<input type="radio" checked="checked" name="radio">
			<span class="checkmark"></span>
		</label>
		<form action="/upload" method="post" enctype="multipart/form-data">
			File: <input type="file" class='rounded-box' name="file">
		<br> 
		<label class="container">Download OVA from URL (not implemented yet)
			<input type="radio" name="radio">
			<span class="checkmark"></span>
		</label>
			URL: <input type="text" class='rounded-box' name="url">
		<br>
		<input type="submit" class='rounded-box' value="Proceed">
		</form>
	  </div>
	{{ template "globals/footer.tmpl" .}}
{{ end }}