 {{ define "home/ocpinfo.tmpl" }}
 	{{ template "globals/header.tmpl" .}}
	  <h1>{{ .title }}</h1>
	  <div>
		<form action="/fileinfo" method="post" enctype="multipart/form-data">
			OCP Token: <input type="string" class='rounded-box' name="token"> 
			<p>
			OCP Namespace: <input type="string" class='rounded-box' name="namespace"> 
			<input type="submit" class='rounded-box' value="Continue">
		</form>
	  </div>
	{{ template "globals/footer.tmpl" .}}
{{ end }}