{{ define "home/upload.tmpl" }}
    {{ template "globals/header.tmpl" .}}

    <h1>{{ .title }}</h1>

    File {{ .filename }} uploaded successfully

    <div>
    <form action="/fileinfo" method="post" enctype="multipart/form-data">
        <input type="submit" class='rounded-box' value="Next">
    </form>
    </div>


    {{ template "globals/footer.tmpl" .}}
{{ end }}
