{{ define "globals/header.tmpl" }}
<header>

  <head>
    <meta charset="utf-8">
    <title>OVA Importer</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/assets/ovaimporter.css'>
  </head>

  <html>
  <body>
  <h1 class='darkred rounded-box'>Import OVA</h1>

</header>
{{ end }}